* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
  position: relative;
  width: 300px;
  height: 400px;
  animation: move 5s linear infinite alternate;
}

.sun {
  width: 300px;
  position: absolute;
  transition: all 5s ease;
  z-index: 0;
}

.face {
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  transition: all 5s ease;
}

.flower-first {
  width: 25%;
  position: absolute;
  top: 500px;
  left: 50px;

}

.flower-second {
  width: 25%;
  position: absolute;
  top: 500px;
  left: 250px;

}

.flower-third {
  width: 25%;
  position: absolute;
  top: 500px;
  left: 350px;

}

.cloud-clone-first {
  width: 25%;
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: -1;
}

.cloud-clone-first:hover {
  transform: scale(1.4);
}

img:hover {
  transform: skew(15deg);
}

.cloud-clone-second {
  width: 15%;
  position: absolute;
  top: 50px;
  left: 480px;
  z-index: -1;
}

.cloud-clone-third {
  width: 25%;
  position: absolute;
  top: 80px;
  left: 600px;
  z-index: 1;
}


.sun:hover {
  transform: rotate(360deg);
}

@keyframes move {
  0%, 100% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 700px;
  }
}
